* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #F2B705;
    --color-secondary: #023859;
    --color-blue-light: #0339A6;
    --color-lightorange: #F2E857;

    font-size: 62.5%;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.792);
}



header nav ul {
    display: flex;
    gap: 1.6rem;
}


header nav ul li {
    list-style: none;
}

header nav ul li a {
    color: var(--color-primary);
    text-decoration: none;
    font-size: 1.6rem;
    border: 1px solid var(--color-primary);
    padding: 5px;
}


/* BANNER PRINCIPAL */

.banner-principal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(#F2B705, rgb(220, 220, 33));
}


/* BANNER TITULO */

.banner-titulo {
    max-width: 32.0rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.banner-titulo h1 {
    font-size: 4.4rem;
}

.banner-titulo a {
    background-color: var(--color-primary);
    padding: 1.0rem;
    width: fit-content;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    font-size: 1.9rem;
}

.banner-titulo a:hover {
    background-color: #f3bc1a;
}

/* seção de cursos */




.cursos-pai {
    display: flex;
    gap: 2.0rem;
    justify-content: center;
}

.principais-cursos {
    margin: 2.0rem 0rem;
}
.principais-cursos h2 {
    text-align: center;
}


.curso {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    max-width: 33.0rem;
}

.curso img {
    max-width: 33.0rem;
}

.text-curso {
    padding: 1.0rem;
    display: flex;
    flex-direction: column;
    gap: 1.0rem;
}
.curso p {
    width: 31.0rem;
}

/* bannner secundario do site */

.banner-secundario {
    padding: 3.0rem 3.0rem 0rem 3.0rem;
    background-color: var(--color-secondary);
    color: white;
    display: flex;
    align-items: center;
    gap: 4.0rem;
    justify-content: center;
}

.text-banner-2 h2 {
    margin-bottom: 2.0rem;
}

.text-banner-2 p {
    max-width: 44.0rem;
    line-height: 2.3rem;
}

/* contatos do site */
.contatos {
    text-align: center;
}

.contatos h2 {
    margin-top: 5.0rem;
    margin-bottom: 2.0rem;
}

.contatos p {
    margin: 1.0rem 0rem;
}

/* footer do sirte */

footer {
    background-color: #091822;
    color: white;
    text-align: center;
    padding: 2.0rem;
}